<p id="notice"><%= notice %></p>
<div class="container">
   <div class="row">
    <div class="col">
      <p class="student_p">
        <strong class="muted small">Name:</strong>
        <span  class="muted small"><%= @student.name %></span>
      </p>

      <p class="student_p">
        <strong  class="muted small">Surname:</strong>
        <span  class="muted small"><%= @student.surname %></span>
      </p>

      <p class="student_p">
        <strong  class="muted small">Gender:</strong>
        <span  class="muted small"><%= @student.gender %></span>
      </p>

      <p class="student_p">
        <strong  class="muted small">Student number:</strong>
        <span  class="muted small"><%= @student.student_number %></span>
      </p>


      <p class="student_p">
        <strong  class="muted small">course:</strong>
        <span  class="muted small"><%= @student.course %></span>
      </p>
      <p class="student_p">
        <strong  class="muted small">Id number:</strong>
        <span  class="muted small"><%= @student.id_number %></span>
      </p>

       <p class="student_p">
        <strong  class="muted small">FingerPrintStatus:</strong>
        <span  class="muted small"><%= @student.fingerstatus %></span>
      </p>



    </div>
    <div class="col">
      <%= image_tag @student.image, class:'student_profile-img' %>
  </div>

  <table class="table">
    <tr>
      <th>Name</th>
      <th>Subject Code</th>
      <th>Final Mark</th>
       <th>Exam Date & TIme</th>
      <th>Exam Venue</th>

    </tr>
    <%@student.subject.each do |subject| -%>
      <% if subject.final_Mark >= 40 %>
        <tr class= <%=exam_checkup(subject)%>>
            <td><%= subject.name%></td>
            <td><%= subject.code%></td>
            <td><%= subject.final_Mark%></td>
             <td><%= subject.exam_datetime%></td>
            <td><%= subject.exam_venue%></td>
        </tr>
      <%end%>
    <%end-%>
  </table>

  <%= link_to 'Edit', edit_student_path(@student) %> |
  <%= link_to 'Back', students_path %> |
  <%= link_to 'add subject',  new_student_subject_path(@student.id)%>
</div>
