<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @subject.code %>
</p>

<p>
  <strong>Final mark:</strong>
  <%= @subject.final_Mark %>
</p>

<p>
  <strong>Exame date:</strong>
  <%= @subject.exame_date %>
</p>

<p>
  <strong>Exam value:</strong>
  <%= @subject.exam_value %>
</p>

<p>
  <strong>Student:</strong>
  <%= @subject.student_id %>
</p>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
