<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @subject.code %>
</p>

<p>
  <strong>Final mark:</strong>
  <%= @subject.final_Mark %>
</p>

<p>



<p>
  <strong>Exam time:</strong>
  <%= @subject.exam_datetime %>
</p>

<p>
  <strong>Exam venue:</strong>
  <%= @subject.exam_venue %>
</p>

<p>
  <strong>Student:</strong>
  <%= @subject.student_id %>
</p>

<%= link_to 'Edit', edit_student_subject_path(@student,@subject) %> |
<%= link_to 'Back',  student_subjects_path(@student) %>
