<!DOCTYPE html>
<html>
  <head>
    <title>ExamHallAuth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="double-border double-border-left double-border-right">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <%if logged_in?%>
                <li class="nav-item">
                  <%= link_to 'Log Out', logout_path,method: :delete,:class=>"nav-link  text-white"  %>
                </li>
                  <li class="nav-item">
                  <%= link_to 'Register Student', new_student_path,:class=>"nav-link  text-white"  %>
                 </li>
                <li class="nav-item">
                  <%= link_to 'List of Student', students_path,:class=>"nav-link  text-white"  %>
                 </li>
                <li class="nav-item">
                  <%= link_to 'Verification',  home_verification_path,:class=>"nav-link  text-white"  %>
                 </li>

                <%else%>
                  <li class="nav-item">
                    <%= link_to 'Log In', login_path ,:class=>"nav-link text-white"%>
                   </li>
                  <li class="nav-item">
                    <%= link_to 'Sign Up', new_user_path ,:class=>"nav-link text-white" %>
                  </li>
                <%end%>
            </ul>
            </div>
          </nav>
    <%= yield %>
    </div>
  </body>
</html>
